@model List<Formulario>;

@{
    ViewData["Title"] = "Inicio Formularios";
    var formularios = Model;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<h1 class="display-4">LISTA FORMULARIOS</h1>

<button type="button" class="btn btn-dark mb-3" onclick="location.href='@Url.Action("Create", "Formulario")'">Crear</button>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">IdFormulario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Fecha del suceso</th>
            <th scope="col">Rol de actor</th>
            <th scope="col">Sexo</th>
            <th scope="col">Mensaje</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var formulario in formularios)
        {
            <tr>
                <td>@formulario.IdFormulario</td>
                <td>@formulario.Nombre</td>
                <td>@formulario.Nombre</td>
                <td>@formulario.FechaNacimiento</td>
                <td>@formulario.FechaSuceso</td>
                <td>@formulario.Rol</td>
                <td>@formulario.Sexo</td>
                <td>@formulario.Mensaje</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a asp-action="Details" asp-route-IdFormulario="@formulario.IdFormulario" class="btn btn-primary me-2"><i class="bi bi-eye-fill"></i></a>
                        <a asp-action="Edit" asp-route-IdFormulario="@formulario.IdFormulario" class="btn btn-warning me-2"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Delete" asp-route-IdFormulario="@formulario.IdFormulario" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
